<div id="topRow" class="row">
	<div id="cardHeader" class="col-lg-9 offset-lg-1">
		<p>Customize your Summary's quick links!</p>
	</div>
</div>
<div id="contentRow" class="row">
	<div id="listing" class="col-lg-10 offset-lg-1">
		<div class="row">
			<div id="currentBalance" class="col-lg-12">
				Add/Remove activities
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-5 activityCard">
						<div class="row">
							<div class="col-lg-12 activityTitle">
								Benefits
							</div>
						</div>
						<div class="row">
							<div class="col-lg-11 activityContent">
								Brings you info on discounts, points, and coupons associated with your card.
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="float-right">
									<button 
										[ngClass]="benefits == true ? 'btn btn-outline-danger btn-lg activityBtn' : 'btn btn-outline-success btn-lg activityBtn'"
										(click)="changeStatus('benefits')">
									
											<div *ngIf="benefits == true; else elseBlock">Remove</div>
											<ng-template #elseBlock>Add</ng-template>		
									</button>
								</div> 
							</div>
						</div>
					</div>
					<div class="col-lg-5 activityCard">
						<div class="row">
							<div class="col-lg-12 activityTitle">
								Breakdown
							</div>
						</div>
						<div class="row">
							<div class="col-lg-11 activityContent">
								A visual representation of how you are spending your money.
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="float-right">
									<button 
										[ngClass]="breakdown == true ? 'btn btn-outline-danger btn-lg activityBtn' : 'btn btn-outline-success btn-lg activityBtn'"
										(click)="changeStatus('breakdown')">
									
											<div *ngIf="breakdown == true; else elseBlock">Remove</div>
											<ng-template #elseBlock>Add</ng-template>		
									</button>
								</div> 
							</div>
						</div>
					</div>
					<div class="col-lg-5 activityCard">
						<div class="row">
							<div class="col-lg-12 activityTitle">
								Notifications
							</div>
						</div>
						<div class="row">
							<div class="col-lg-11 activityContent">
								Get notifications related to your account.
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="float-right">
									<button
										[ngClass]="notifications == true ? 'btn btn-outline-danger btn-lg activityBtn' : 'btn btn-outline-success btn-lg activityBtn'"
										(click)="changeStatus('notifications')">
									
											<div *ngIf="notifications == true; else elseBlock">Remove</div>
											<ng-template #elseBlock>Add</ng-template>		
									</button>
								</div> 
							</div>
						</div>
					</div>
					<div class="col-lg-6 activityCard">
						<div class="row">
							<div class="col-lg-12 activityTitle">
								Offers
							</div>
						</div>
						<div class="row">
							<div class="col-lg-11 activityContent">
								View exclusive offers from our partners! All offers are pre-approved.
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="float-right">
									<button 
										[ngClass]="offers == true ? 'btn btn-outline-danger btn-lg activityBtn' : 'btn btn-outline-success btn-lg activityBtn'"
										(click)="changeStatus('offers')">
									
											<div *ngIf="offers == true; else elseBlock">Remove</div>
											<ng-template #elseBlock>Add</ng-template>		
									</button>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>