<div id="topRow" class="row">
	<div id="cardHeader" class="col-lg-8 offset-lg-1">
		<p>Mercury Mastercard (...5867)</p>
	</div>
</div>
<div id="contentRow" class="row">
	<div id="listing" class="col-lg-7">
		<div class="row">
			<div class="col-lg-7">
				<div class="row">
					<div id="listingTitle" class="col-lg-7">Current Balance</div>
				</div>
				<div class="row">
					<div id="currentBalance" class="col-lg-12">${{ currentBalance }}</div>
				</div>
			</div>
			<div class="col-lg-5 my-auto">
				<button (click)="paymentBtnClick()" type="button" id="makePaymentBtn" class="btn btn-lg btn-primary">Make Payment</button>
			</div>
		</div>
		<div *ngIf="makePayment">
			<div class="row">
				<div id="paymentDiv" class="col-lg-10 offset-lg-1">
					<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
						<div class="form-group">
							<label>
						      	Amount:
						      	<input class="form-control" type="number" formControlName="amount" placeholder="100.00">
						      	<div *ngIf="submitted && paymentForm.controls.amount.errors" class="error">
						        	<div *ngIf="paymentForm.controls.amount.errors.required">Please enter an amount.</div>
						      	</div>
						    </label>
						</div>
					    <div class="form-group">
						    <label>
						      	Description:
						      	<input class="form-control" type="text" formControlName="description" placeholder="Weekly Payment!">
						      	<div *ngIf="submitted && paymentForm.controls.description.errors" class="error">
						        	<div *ngIf="paymentForm.controls.description.errors.required">A message is required.</div>
						      	</div>
						    </label>
					    </div>

					    <button type="submit" class="btn btn-outline-success btn-md">Submit Payment</button>
					</form>	
				</div>
			</div>
		</div>
		<div id="tableDiv" class="row justify-content-center">
			<table id="paymentsTable">
				<tbody>
					<tr *ngFor="let x of payments">
						<td class="dimTD">{{ x.date }}</td>
						<td class="dimTD">{{ x.name }}</td>
						<td [ngClass]="{'greenPay': x.payment==1}">${{ x.amt }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="row">
			<div class="col-lg-12 sideCard">
				<h4>Welcome, {{ userName }}</h4>
				<p>The CreditShop user portal gives you the power and control you need to manage your account. Add quick link widgets to this column!
					<br><br><a routerLink="/activities"><button class="btn btn-outline-secondary">Go to activities</button></a></p>
			</div>
		</div>
		<!-- ng if statement -->
		<div *ngIf="notifications">
			<div class="row">
				<div class="col-lg-12 sideCard">
					<app-notifications></app-notifications>
				</div>
			</div>
		</div>
		<!-- ng if statement -->
		<div *ngIf="benefits">
			<div class="row">
				<div class="col-lg-12 sideCard">
					<app-benefits></app-benefits>
				</div>
			</div>
		</div>
		<!-- ng if statement -->
		<div *ngIf="breakdown">
			<div class="row">
				<div class="col-lg-12 sideCard">
					<app-breakdown></app-breakdown>
				</div>
			</div>
		</div>
		<!-- ng if statement -->
		<div *ngIf="offers">
			<div class="row">
				<div class="col-lg-12 sideCard">
					<app-offers></app-offers>
				</div>
			</div>
		</div>

	</div>
</div>