<div class="sidebar-header">
	<img src="assets/logo_creditshop.png" class="logo" alt="">
</div>
<!-- <fa-icon [icon]="farThLarge"></fa-icon> -->
<ul class="list-unstyled components">
	<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
		<li>
			<img src="/assets/Summary.svg" alt=""/>Summary
		</li>
	</a>
	<a routerLink="/activities" routerLinkActive="active">
		<li>
			<img src="/assets/Activities.svg" alt=""/>Activities
		</li>
	</a>
	<a routerLink="/payments" routerLinkActive="active">
		<li>
			<img src="/assets/Payments.svg" alt="">Payments
		</li>
	</a>
	<a routerLink="/offers" routerLinkActive="active">
		<li>
			<img src="/assets/Offers.svg" alt=""/>Offers
		</li>
	</a>
</ul>

